/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-image: url('Wallpaper.png');
    background-size: cover;
    backdrop-filter: blur(5px); /* Adding a blur effect to the background */
    margin: 0; /* Remove default body margin */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    color: #ffffff;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 30px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove margin from the last navigation button */
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
}

nav {
    float: right; /* Align the navigation bar to the right */
}

header h1 {
    float: left; /* Align the logo to the left */
}

.articles {
    color: #ffffff;
    padding: 50px 0; /* Reduce padding for articles section */
}

.articles h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.article-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.article {
    position: relative; /* Position relative for absolute positioning of writer logo */
    border-radius: 5px;
    overflow: hidden;
}

.article a {
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative; /* Ensure proper positioning of writer logo */
}

.article img {
    width: 100%;
    height: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.article h3 {
    padding: 10px;
    font-size: 18px;
}

.article-text {
    background-color: #75A559; /* Orange background color */
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.article:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.writer-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffffff;
    overflow: hidden;
}

.writer-logo img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the writer logo fits inside the circular border */
}

/* Add additional styles for the search container */
.search-container {
    margin-top: 20px; /* Adjust as needed */
    text-align: center; /* Align the search bar to the center */
}

.search-container input[type="text"] {
    width: 70%; /* Adjust width as needed */
    padding: 10px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: none;
    border-radius: 25px; /* Make it a bit rounder */
    margin-bottom: 20px; /* Add some space below the search bar */
    background-color: #75A559; /* Match the orange color of the site */
    color: #ffffff; /* Text color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.search-container input[type="text"]:focus {
    outline: none;
}
