body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url('wallpaper.png') no-repeat center center fixed;
    background-size: cover;
    color: #2C3E50;
    text-align: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.7); /* Lowered opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    width: 40px; /* Made the logo smaller */
}

nav a {
    color: #2C3E50;
    text-decoration: none;
    margin: 0 10px;
    font-weight: 500;
    display: none; /* Hide the About Us and Contact links */
}

main h1 {
    font-size: 28px;
    margin: 20px 0;
    font-weight: 700;
}

.countdown {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.countdown .time {
    margin: 0 10px;
    text-align: center;
}

.countdown .number {
    font-size: 48px;
    display: block;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 5px;
    color: #000000;
}

.countdown .label {
    font-size: 16px;
    display: block;
    font-weight: 500;
    color: #2C3E50;
}

main p {
    font-size: 16px;
    margin: 20px 0;
}

.form-container {
    display: flex;
    justify-content: center;
}

.form-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #BDC3C7;
    border-radius: 5px;
    width: 150px;
    margin-right: 10px;
}

.form-container button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.form-container button:hover {
    background-color: #75A559;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: #2C3E50;
}

/* Media Queries for Mobile Optimization */
@media (max-width: 600px) {
    body {
        padding: 10px;
    }

    .container {
        padding: 10px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 30px;
    }

    main h1 {
        font-size: 24px;
    }

    .countdown .number {
        font-size: 36px;
        padding: 15px;
    }

    .countdown .label {
        font-size: 14px;
    }

    .form-container {
        flex-direction: column;
    }

    .form-container input {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .form-container button {
        width: 100%;
    }

    footer {
        font-size: 12px;
    }
}
